.btn-group {
  margin-top: 0.5em;
}

main, footer {
  margin: auto;
  max-width: 1200px;
}

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text, .about-img {
  width: 50%;
}

.about-title {
  font-size: 400%;
}

.emphasize {
  color: #ac7bff;
}