.btn-group {
  margin-top: 0.5em;
}

body {
  background-image: linear-gradient(135deg, #2f004f, #00004f);
}

main {
  margin: auto;
  max-width: 1200px;
}

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text, .about-img {
  width: 50%;
}

.about-title {
  font-size: 4rem;
}

.urgent {
  color: #ffbfbf
}

.emphasize {
  color: #ac7bff;
}

.services, .buttons {
  background-color: #241c31;
  padding: 20px;
}

h2 {
  font-size: 3rem;
}