@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(135deg, #17002f, #00001f);
}

main {
  margin: auto;
  max-width: 1200px;
}

.about {
  height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin-top: -78.75px;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 75px;
}

.contact>nav {
  padding: 25px 0;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.nav-item {
  padding: 21.5px 0;
  font-size: 24px;
  font-weight: 100;
}

.about-text {
  width: 593px;
  height: 475px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.about-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 64px;
  font-weight: 100;
}

.urgent {
  font-size: 24px;
  font-weight: 100;
  color: #efefef;
}

.emphasize {
  color: #9f5fff;
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.socials-text {
  font-weight: 400;
  font-size: 36px;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 16px;
  background-color: transparent;
  border: 3px solid #7f3fff;
  font-size: 24px;
  width: 376px;
  border-radius: 20px;
  padding: 21.5px 0;
}

.btn:hover {
  background-color: #ffffff1f;
}

a.btn {
  color: #efefef;
}

.icon {
  filter: grayscale(100%) brightness(300%);
}

.btn:hover {
  border: 3px solid #c8b2ff; 
}

.img{
  width: 502px;
  border-radius: 16px;
}

.services {
  font-size: 20px;
  font-weight: 100;
  background-color: #241c31;
  padding: 20px;
}

.copyright {
  background-color: #241c31;
  padding: 5px;
}

h2 {
  font-size: 3rem;
}